<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Area'), ['action' => 'edit', $area->usuario_id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Area'), ['action' => 'delete', $area->usuario_id], ['confirm' => __('Are you sure you want to delete # {0}?', $area->usuario_id)]) ?> </li>
        <li><?= $this->Html->link(__('List Areas'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Area'), ['action' => 'add']) ?> </li>
        <li><?= $this->Html->link(__('List Usuarios'), ['controller' => 'Usuarios', 'action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Usuario'), ['controller' => 'Usuarios', 'action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="areas view large-9 medium-8 columns content">
    <h3><?= h($area->usuario_id) ?></h3>
    <table class="vertical-table">
        <tr>
            <th><?= __('Usuario') ?></th>
            <td><?= $area->has('usuario') ? $this->Html->link($area->usuario->id, ['controller' => 'Usuarios', 'action' => 'view', $area->usuario->id]) : '' ?></td>
        </tr>
    </table>
    <div class="row">
        <h4><?= __('Area') ?></h4>
        <?= $this->Text->autoParagraph(h($area->area)); ?>
    </div>
</div>
